head {
    background-color:#202020;
    font-family:comic sans ms;
}
body {
    background-color:#404040;
    font-family:comic sans ms;
}

h1 {
    color:#a0a070;
    text-align:center;
}

h2 {
    text-align:left;
    color:#a0a070;
}

h3 {
    text-align:left;
    color:#a0a070;
}

a {
    color:#a0a070;
}

